@charset "utf-8";

body {
    font-family: 'Sawarabi Mincho', 'Zen Kaku Gothic Antique', 'Helvetica',
        'Hiragino Sans', 'Hiragino Kaku Gothic ProN', 'Arial', 'Yu Gothic',
        'Meiryo', sans-serif;
    font-size: 18px;
    color: #333;
    line-height: 1.5;
}

.tab {
    width: 85%;
    margin: 0 auto;
}
.tab-nav {
    display: flex;
}
.tab-nav-item {
    margin-right: 2px;
    background: #e88f8f;
    color: rgb(80, 44, 80);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px 5px 0 0;
}
.tab-nav-item.is-active {
    background: #890808;
    color: #fff;
}
.tab-contents {
    background-color: #fff;
    color: rgb(80, 44, 80);
    border: 1px solid #ccc;
    padding: 20px;
}
.tab-contents-item {
    display: none;
}
.accordion {
    width: 800px;
    margin: 0 auto;
}
.accordion-trigger {
    margin: 0;
    padding: 10px;
    display: block;
    background: bisque;
    border: 1px solid #fff;
}
.accordion-contents {
    display: none;
    margin: 0;
    padding: 10px;
    background-color: #e7f5f9;
    border: 1px solid #ccc;
}
.accordion-contents > div {
    margin: 0 10px;
}
